<div class="card">
  <div class="card-block">
    <h2 class="text-primary card-title">Acerca de</h4>
    <h4>Autores</h4>
    <ul>
      <li>Víctor Ricardo Vanegas Martínez</li>
      <li>Walmaro Antonio Pavón Bravo</li>
    </ul>
    <h4>Bibliografía</h4>
    <ul>
      <li>
        Debian.org (s.f.). <i>¿Qué es GNU/Linux?.</i> Recuperado el 05 de Agosto de 2016 de: <a href="https://www.debian.org/releases/stable/mips/ch01s02.html.es">https://www.debian.org/releases/stable/mips/ch01s02.html.es</a>
      </li>
      <li>
        Free Software Foundation, Inc.(2016). <i>¿Qué es el software libre?.</i> Recuperado el 02 de Agosto de 2016 de: <a href="https://www.gnu.org/philosophy/free-sw.es.html">https://www.gnu.org/philosophy/free-sw.es.html</a>
      </li>
      <li>
        Free Software Foundation, Inc.(2016). <i>Por qué «software libre» es mejor que «código abierto».</i> Recuperado el 03 de Agosto de 2016 de: <a href="https://www.gnu.org/philosophy/free-software-for-freedom.es.html">https://www.gnu.org/philosophy/free-software-for-freedom.es.html</a>
      </li>
      <li>
        Free Software Foundation, Inc.(2016). <i>Por qué «software libre» es mejor que «código abierto».</i> Recuperado el 03 de Agosto de 2016 de: <a href="https://www.gnu.org/philosophy/free-software-for-freedom.es.html">https://www.gnu.org/philosophy/free-software-for-freedom.es.html</a>
      </li>
      <li>
        Free Software Foundation, Inc.(2016). <i>¿Qué es GNU?.</i> Recuperado el 05 de Agosto de 2016 de: <a href="https://www.gnu.org/home.es.html">https://www.gnu.org/home.es.html</a>
      </li>
      <li>
        HISPALINUX (s.f.). <i>¿Qué es el software libre?.</i> Recuperado el 02 de Agosto de 2016 de: <a href="http://hispalinux.es/SoftwareLibre">http://hispalinux.es/SoftwareLibre</a>
      </li>
      <li>
        HISPALINUX (s.f.). <i>¿Qué es GNU/Linux libre?.</i> Recuperado el 05 de Agosto de 2016 de: <a href="http://hispalinux.es/GNULinux">http://hispalinux.es/GNULinux</a>
      </li>
      <li>
        Noemí Rodríguez (s.f.). <i>10 Aplicaciones de software libre imprescindibles para el emprendedor online.</i> Recuperado el 05 de Agosto de 2016 de: <a href="http://www.tacande.net/herramientas-software-libre-emprendedor-online">http://www.tacande.net/herramientas-software-libre-emprendedor-online</a>
      </li>
    </ul>
  </div>
</div>
    