<h3>El mundo de Software Libre y sus ventajas</h3>

<p> Económico (más de mil millones de euros en licencias de Microsoft en España anuales)</p>

<p>Libertad de uso y redistribución</p>

<p> Independencia tecnológica</p>

<p>Fomento de la libre competencia al basarse en servicios y no licencias</p>

<p><Con soportes y compatibilidad a largo plazo</p>

<p> Formatos estándar</p>

<p>Sistemas sin puertas traseras y más seguros</p>

<p>Corrección mas rápida y eficiente de fallos</p>

<p>Métodos simples y unificados de gestión de software</p>

<p>Sistema en expansión</p>

<h3>Algunas aplicaciones de Software libre</h3>

<h5>Navegador Mozilla Firefox</h5>
<p>Es uno de los navegadores principales (usado por el 18% de los usuarios de internet), 
tanto de escritorio como dispositivo móvil, que cuenta además con muchas extensiones que 
complementan la funcionalidad del navegador.
</p>
<h5>Libre Office</h5>
<p>Libre Office es la mejor alternativa al paquete ofimático de Microsoft, 
y lo puedes descargar gratuita y legalmente de la web.
</p>
<h5>Scribus</h5>
<p>Es una herramienta profesional de maquetación, que te permite 
crear folletos, revistas y todo tipo de papelería profesional.
</p>
<h5>Mozilla Thunderbird</h5>
<p>También de la fundación mozilla, Thunderbird es una aplicación 
de correo muy completa y ligera, disponible para múltiples sistemas operativos.
</p>
<h5>Google Drive ownCloud</h5>
<p>Con esta aplicación, además de almacenar archivos en la nube, podemos sincronizar contactos, calendarios y bookmarks.
</p>
